{% load static %}

{% load argonauts %}

<h1>New style</h1>

<div id=pollsContent></div>

<script src="{% static 'react.js' %}"></script>
<script src="{% static 'react-dom.js' %}"></script>
<script src="{% static 'browser.min.js' %}"></script>
<script src="{% static 'jquery.min.js' %}"></script>
<script type="text/babel">
    var pollsData = {{ polls_data|json }};

    var ChoiceRow = React.createClass({
        render: function() {
            return (
                    <tr>
                        <td>{ this.props.data.votes }</td>
                        <td>{ this.props.data.choice_text }</td>
                    </tr>
            );
        }
    });

    var Question = React.createClass({
        render: function() {
            var answerNodes = this.props.data.choice_set.map(function(choice) {
                return <ChoiceRow data={choice} key={choice.url}/>
            });
            return (<li>
                { this.props.data.question_text }
                <table>
                    <thead>
                    <tr><th>Votes</th><th>Choice</th></tr>
                    </thead>
                    <tbody>
                    { answerNodes }
                    </tbody>
                </table>
                </li>);
        }
    });

    var PollBox = React.createClass({
        getInitialState: function () {
            return {
                data: this.props.data,
                updateTime: "never"
            }
        },
        loadPollsFromServer: function() {
            $.ajax({
                url: "{% url 'polls:question-list' %}",
                dataType: 'json',
                cache: false,
                success: function (data) {
                    this.setState({data: data, updateTime: new Date()})
                }.bind(this),
                error: function (xhr, status, err) {
                    console.error(this.props.url, status, err.toString());
                }.bind(this)
            });
        },
        componentDidMount: function() {
            this.loadPollsFromServer();
            setInterval(this.loadPollsFromServer, 1000);
        },
        render: function() {
            var questionNodes = this.state.data.map(function(question) {
                return (<Question data={question} key={question.url}/>);
            });
            return (
                    <div>
                    <ul>{ questionNodes }</ul>
                    Last live-update at { this.state.updateTime.toString() }
                    </div>
            );
        }
    });

    ReactDOM.render(
            <PollBox data={pollsData}/>,
            document.getElementById('pollsContent')
    );
</script>

<h1>Old style</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}"
            >{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
